<app-header></app-header>
<div class="bg-gray-100 h-screen p-10">
  <div class="flex justify-center uppercase font-bold text-4xl">
    Change Password
  </div>
  <div class="flex justify-center mt-32">
    <div class="w-100 bg-white h-100 rounded-lg shadow-xl p-10">
      <!-- current password -->
      <div class="w-full">
        <label class="" for="current_password ">Current Password</label>
        <br />
        <input
          class="border-2 mt-1 rounded-md border-green-700 w-full h-12 px-4"
          type="password"
          id="current_password"
          placeholder="Current Password"
          [(ngModel)] = "currentPassword"
        />
      </div>
      <!-- new password -->
      <div class="w-full mt-4">
        <label class="" for="new_password">New Password</label>
        <br />
        <input
          class="border-2 mt-1 rounded-md border-green-700 w-full h-12 px-4"
          type="password"
          id="new_password"
          placeholder="New Password"
          [(ngModel)] = "newPassword"
        />
      </div>
      <!-- confirm password-->
      <div class="w-full mt-4">
        <label class="" for="confirm_password">Confirm Password</label>
        <br />
        <input
          class="border-2 mt-1 rounded-md border-green-700 w-full h-12 px-4"
          type="password"
          id="confirm_password"
          placeholder="Confirm Password"
          [(ngModel)] = "confirmPassword"
        />
      </div>
      <!-- back button & login button  -->
      <div class="w-full flex justify-between mt-6">
        <button
          class="w-2/6 h-10 bg-gray-300 rounded-full hover:bg-gray-300 m-1"
          (click)="goBack()"
        >
          GO BACK
        </button>
        <button
          class="
            m-1
            w-3/6
            h-10
            rounded-full
            text-white
            uppercase
            bg-gradient-to-r
            from-green-700
            to-green-400
            hover:from-green-800 hover:to-green-500
          "
          (click) = "submit()"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
