<app-header></app-header>
<div class="bg-gray-100 h-screen p-10">
  <div class="flex justify-center uppercase font-bold text-4xl">
    User details
  </div>
  <!-- filter area -->
  <div
    class="w-full flex flex-wrap justify-center flex-row h-16 mt-6 p-2 gap-4"
  >
    <!-- go back to dashboard & create new  -->
    <div class="h-full flex text-center items-center">
      Total Users ({{ userCount.totalUsers }}) &amp; Page
      {{ userCount.currentPage }} of {{ userCount.totalPage }}
    </div>
    <div class="h-full flex">
      <a
        class="
          h-full
          flex
          justify-center
          items-center
          text-xl
          font-bold
          bg-white
          cursor-pointer
          hover:bg-gray-300
          rounded-sm
          shadow-lg
          w-12
          ml-4
        "
        >&lt;</a
      >
      <a
        class="
          h-full
          flex
          justify-center
          items-center
          text-xl
          font-bold
          bg-white
          cursor-pointer
          hover:bg-gray-300
          rounded-sm
          shadow-lg
          w-12
          ml-4
        "
        >1</a
      >
      <a
        class="
          h-full
          flex
          justify-center
          items-center
          text-xl
          font-bold
          bg-white
          cursor-pointer
          hover:bg-gray-300
          rounded-sm
          shadow-lg
          w-12
          ml-4
          text-white
          bg-green-400
        "
        >2</a
      >
      <a
        class="
          h-full
          flex
          justify-center
          items-center
          text-xl
          font-bold
          bg-white
          cursor-pointer
          hover:bg-gray-300
          rounded-sm
          shadow-lg
          w-12
          ml-4
        "
        >3</a
      >
      <a
        class="
          h-full
          flex
          justify-center
          items-center
          text-xl
          font-bold
          bg-white
          cursor-pointer
          hover:bg-gray-300
          rounded-sm
          shadow-lg
          w-12
          ml-4
        "
        >...</a
      >
      <a
        class="
          h-full
          flex
          justify-center
          items-center
          text-xl
          font-bold
          bg-white
          cursor-pointer
          hover:bg-gray-300
          rounded-sm
          shadow-lg
          w-12
          ml-4
        "
        >20</a
      >
      <a
        class="
          h-full
          flex
          justify-center
          items-center
          text-xl
          font-bold
          bg-white
          cursor-pointer
          hover:bg-gray-300
          rounded-sm
          shadow-lg
          w-12
          ml-4
        "
        >&gt;</a
      >
    </div>
    <div class="flex justify-end flex-row flex-wrap gap-4">
      <a
        class="
          rounded-full
          shadow-xl
          px-4
          h-12
          flex
          justify-center
          items-center
          border-2 border-green-200
          uppercase
          font-bold
          hover:shadow-2xl hover:bg-gray-200
          cursor-pointer
          hover:text-gray-600
        "
        routerLink="/dashboard"
      >
        Go TO Dashboard
      </a>
      <a
        class="
          rounded-full
          shadow-xl
          px-4
          h-12
          flex
          justify-center
          items-center
          border-2 border-green-200
          uppercase
          font-bold
          hover:shadow-2xl hover:bg-gray-200
          cursor-pointer
          hover:text-gray-600
        "
        (click)="onCreateUserClick()"
      >
        Create New
      </a>
    </div>
    <!-- search -->
    <input
      class="
        h-full
        border-2
        w-100
        px-2
        border-green-700
        rounded-md
        hover:shadow-2xl
        shadow-lg
        rounded-md
        p-2
      "
      type="text"
      placeholder="Search"
      [(ngModel)]="searchOption.searchText"
      (keyup.enter)="onSearchEnterKeyPressed()"
    />
    <select
      matNativeControl
      [(ngModel)]="searchOption.colName"
      name="search option"
      class="
        bg-white
        border-2
        rounded-md
        p-2
        border-green-700
        ml-4
        bg-white
        shadow-lg
        rounded-md
        p-2
      "
    >
      <option value="id" selected>Select Option</option>
      <option *ngFor="let item of searchOptions" [value]="item.value">
        {{ item.text }}
      </option>
    </select>
  </div>
  <!-- user details list -->
  <div class="flex flex-row flex-wrap gap-4 mt-10">
    <app-user-detail-card
      *ngFor="let userModel of userDetailCardModels"
      [userDetailModel]="userModel"
    >
    </app-user-detail-card>
  </div>
</div>
