<div class="shadow-xl h-20 w-full">
  <div class="bg-white container h-full mx-auto flex">
    <a class="flex h-full" href="/">
      <img
        class="w-14 h-16 my-auto"
        src="assets/amr_bangla_blog_logo.png"
        alt="amr_bangla_blog_logo"
      />
      <p class="my-auto pl-4 font-bold uppercase text-2xl">Amar Bangla Blog</p>
    </a>
    <div class="items-end h-full ml-auto flex">
        <!-- menu area -->
        <div class="font-bold text-xl my-auto">{{userRole}}</div>
    </div>
  </div>
</div>
